{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "eslintPath": "eslint",


    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}